[submodule "spring-cloud-eureka-getting-started"]
	path = spring-cloud-eureka-getting-started
	url = https://github.com/shinyay/spring-cloud-eureka-getting-started.git
[submodule "spring-cloud-eureka-client-getting-started"]
	path = spring-cloud-eureka-client-getting-started
	url = https://github.com/shinyay/spring-cloud-eureka-client-getting-started.git
